body {
  background-color: white;
  height: 100vh;
  font-family: sans-serif;
}

h2.title {
  font-family: "press start 2p", sans-serif;
}

div.top {
  width: 100%;
  height: 100%;
  position: relative;
}
